/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

/*#mainPane > .viewport {
    -fx-background-image: url("images/studentHome.png");
    -fx-background-repeat: stretch;
}*/

.BorderPane {
    -fx-background-image: url("/eproctor/images/studentHome.png");
}