.root {
/*<<<<<<< HEAD:eProctor_v1/src/eproctor/commons/LoginForm.css*/
    -fx-background-image: url("/eproctor/images/loginScreen.png");
/*=======
    -fx-background-image: url("../images/loginScreen.png");*/
/*>>>>>>> 0afa6450b8606b1fe257fbb847646e730d0bfe8c:eProctor_v1/src/eproctor/commons/LoginForm.css*/
}

.default-input {
    -fx-border-radius: 4px;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-color: #33cccc;
    -fx-border-width: 1px;
}

.default-button {
    -fx-border-radius: 4px;
}

#sign-in {
    -fx-background-color: rgba(0, 102, 102, 0.8);
}

#sign-in:hover {
    -fx-background-color: rgba(0, 102, 102, 1);
}

#exit {
    -fx-background-color: rgba(0, 153, 153, 0.8);
}

#exit:hover {
    -fx-background-color: rgba(0, 153, 153, 1);
}