.root {

}

.mainFxmlClass {

}

.default-button {
    
}

#vbox {
    -fx-padding: 0;
}

#hbox {
    -fx-alignment: center-left;
    -fx-padding: 15;
    -fx-border-color: #148C56;
    /*-fx-background-insets: 15;*/
    -fx-background-color: #3FC087;
}

#courseCode {
    -fx-text-fill: white;
    -fx-font-family: Impact;
    -fx-font-size: 42;
    -fx-font-weight: lighter;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#courseName {
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 18;
}

#info {
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-size: 12;
}

#button {
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-text-fill: rgba(0, 109, 79, 0.8);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 3;
    -fx-font-size: 16;
    -fx-font-weight: bolder;
}

#button:hover {
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-text-fill: rgba(0, 109, 79, 1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-padding: 3;
    -fx-font-size: 16;
    -fx-font-weight: bolder;
}

#indicator {
    -fx-accent: white;
}

#choiceBox {
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}